<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <title>Albums by <%=item.name%></title>
  </head>

  <body>
  <h1><%=item.name%>'s Albums:</h1>

    <% if (related_items.length > 0) { %>
        <ul id="Albums">
        <% related_items.forEach(function(item) { %>
            <li class="SpecificAlbum">
                <a rel="Album" href="/albums/<%=related_item._id%>"><%=related_item.name%></a>,
<!-- how to loop through genres? -->
<!-- here's a stab at it... -->
                <% for (var key in item) { %>
                    <% if (key === 'genre') { %>
                 <span class="genre"><%=related_item[key]%></span>
                    <% } %>
                <% } %>
            </li>
        <% }); %>
        </ul>
    <% } else { %>
        <div>No albums have been added for <%=item.name%>.</div>
    <% } %>

    </ul>
  </body>

</html>