<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Albums by <%=item.name%></title>
    </head>

    <body>
 <a href="/"><h1>All the Musics</h1></a>

    <div>
      <a href="/artists/"><h2>All Recording Artists</h2></a>
        
    <div>
        <a href="/albums/"><h2>All Albums</h2></a>
            
    </div>

        <div itemscope itemtype="http://schema.org/MusicGroup">
            <h1><span itemprop="name"><%=item.name%></span>'s Albums:</h1>
            <ul id="Albums">    
                <% if (related_items.length > 0) { %>
                    <% related_items.forEach(function(related_item) { %>
                        <li class="SpecificAlbum">
                            <span itemprop="album" itemscope itemtype="MusicAlbum"><strong><a itemprop="name" rel="Album" href="/albums/<%=related_item._id%>"><%=related_item.name%></a></strong><br />
                                <% if (related_item.datePublished !== undefined) { %>
                                    <span itemprop="datePublished"><%=related_item.datePublished%><br /></span>
                                <% } %>
                            </span>
                        </li>
                    <% }); %>
                <% } else { %>
                    <div>No albums have been added for <%=item.name%>.</div>
                <% } %>
            </ul>
        </div>

        <div>
            <h2>Add an album for <%=item.name%></h2>
            <form method="post" action="/albums/">
                <input type="hidden" name="item[byArtist]" value="<%=item._id%>">
                <input type="hidden" name="item[artistName]" value="<%=item.name%>">
                <label>Album name:
                    <input name="item[name]" type="text" required="required" />
                </label>
                <label>Year published:
                    <input name="item[datePublished]" type="text" />
                </label>
                <button>Add</button>
            </form>
        </div>
    
    <div>
            <h2>Update info for <%=item.name%></h2>
            <form method="post" action="/artists/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Name: 
          <input name="item[name]" value="<%=item.name%>" type="text" required>
        </label>
        <button>Update</button>
      </form>
        </div>
    
    </body>
</html>