<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <title>Albums by <%=item.name%></title>
  </head>

  <body>
  <h1><%=item.name%>'s Albums:</h1>

    <% if (related_items.length > 0) { %>
        <ul id="Albums">
        <% related_items.forEach(function(related_item) { %>
            <li class="SpecificAlbum">
                <a rel="Album" href="/albums/<%=related_item._id%>"><%=related_item.name%></a><br />
                Genres: 
<!-- how to loop through genres? -->
<!-- i think multiple genres would get stored as an array 
(http://google-styleguide.googlecode.com/svn/trunk/jsoncstyleguide.xml?showone=Singular_vs_Plural_Property_Names#Singular_vs_Plural_Property_Names)...
so maybe like this? -->
<!-- if this works, update album, playlist, list views to do the same thing -->
                <% var numGenres = related_item.genres.length; %>
                <% for (var i=0; i<numGenres; i++) { %>
                    <% if (i < (numGenres - 1)) { %>
                        <span class="genre"><%=related_item.genres[i]%></span>, 
                    <% } else { %>
                        <span class="genre"><%=related_item.genres[i]%></span>
                    <% } %>
                <% } %>
            </li>
        <% }); %>
        </ul>
    <% } else { %>
        <div>No albums have been added for <%=item.name%>.</div>
    <% } %>

    </ul>
  </body>

</html>