<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title><%=item.name%></title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>

        <div id="Navigation">
            <p><a href="/" rel="AllMetada">Metadata Home</a> | <a href="/artists/" rel="AllArtists">All Artists</a> | <a href="/albums/" rel="AllAlbums">All Albums</a> | <a href="/tracks/" rel="AllTracks">All Tracks</a> | <a href="/genres/" rel="AllGenres">All Genres</a> | <a href="/formats/" rel="AllFormats">All Formats</a></p>
        </div>

        <h1><span itemprop="name"<%=item.name%></span>

        <div itemscope itemtype="http://schema.org/MusicGroup">
            <h2><span itemprop="name"><%=item.name%></span>'s Albums:</h2>
            <ul id="Albums">    
                <% if (related_items.length > 0) { %>
                    <% related_items.forEach(function(related_item) { %>
                        <li class="SpecificAlbum" itemprop="album" itemscope itemtype="http://schema.org/MusicAlbum">
                            <strong><a itemprop="URL" rel="album" href="/albums/<%=related_item._id%>"><span itemprop="name"><%=related_item.name%></span></a></strong><br />
                                <% if (related_item.yearPublished !== undefined) { %>
                                    <span itemprop="yearPublished"><%=related_item.yearPublished%><br /></span>
                                <% } %>
                        </li>
                    <% }); %>
                <% } else { %>
                    <div>No albums have been added for <%=item.name%>.</div>
                <% } %>
            </ul>
        </div>

        <div>
            <h2>Add an album for <%=item.name%></h2>
            <form method="post"  id="NewAlbum" action="/albums/">
                <input type="hidden" name="item[byArtist]" value="<%=item._id%>">
                <input type="hidden" name="item[artistName]" value="<%=item.name%>">
                <label>Album name:
                    <input name="item[name]" type="text" required="required" />
                </label>
                <label>Year published:
                    <input name="item[yearPublished]" type="text" />
                </label>
                <input type="submit" value="Add Album" name="SubmitButton" />
            </form>
        </div>
    
        <div>
            <h2>Update info for <%=item.name%></h2>
            <form method="post" id="NewArtistValue" action="/artists/<%=item._id%>">
            <input type="hidden" name="_method" value="put">
            <label>Name: 
            <input name="item[name]" value="<%=item.name%>" type="text" required>
            </label>
        <input type="submit" value="Update Info" name="SubmitButton" />
          </form>
        </div>
    
    </body>
</html>