<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <title>Albums by <%=item.name%></title>
  </head>

  <body>
  <h1><%=item.name%>'s Albums:</h1>

    <% if (related_items.length > 0) { %>
        <ul id="Albums">
        <% related_items.forEach(function(related_item) { %>
            <li class="SpecificAlbum">
                <strong><a rel="Album" href="/albums/<%=related_item._id%>"><%=related_item.name%></a></strong><br />

                <% if (related_item.datePublished !== undefined) { %>
                    <%=related_item.datePublished%><br />
                <% } %>
                
                <% if (related_item.genres !== undefined) { %>
                    Genres:
                    <% if (related_item.genres instanceof Array) { %>
                        <% var numGenres = related_item.genres.length; %>
                        <% for (var i=0; i<numGenres; i++) { %>
                            <% if (i < (numGenres - 1)) { %>
                                <span class="genre"><%=related_item.genres[i]%></span>, 
                            <% } else { %>
                                <span class="genre"><%=related_item.genres[i]%></span>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <span class="genre"><%=related_item.genres%></span>
                    <% } %>                
                <% } %>
                
            </li>
        <% }); %>
        </ul>
    <% } else { %>
        <div>No albums have been added for <%=item.name%>.</div>
    <% } %>
    </ul>

    <div>
        <h2>Add an album for <%=item.name%></h2>
        <form method="post" action="/albums/">
            <input type="hidden" name="item[byArtist]" value="<%=item._id%>">
            <input type="hidden" name="item[artistName]" value="<%=item.name%>">
            <label>Album name:
                <input name="item[name]" type="text" required
                    />
            </label>
            <label>Year published:
                <input name="item[datePublished]" type="text"
                    />
            </label>
            <label>Genre(s):
                <select name="item[genres]" multiple>
      	            <option value="Disco">Disco</option>
  		            <option value="Pop">Pop</option>
            		<option value="Scandinavian">Scandinavian</option>
             		<option value="Comedy">Comedy</option>
             		<option value="Polka">Polka</option>
            		<option value="Metal">Metal</option>
            		<option value="Jazz">Jazz</option>
             		<option value="Tropicalia">Tropicalia</option>
             		<option value="Lounge">Lounge</option>
            		<option value="Avant-garde">Avant-garde</option>
            		<option value="Experimental">Experimental</option>
            	</select>
            </label>
            <button>Add</button>
        </form>
    </div>
    
    <div>
        <h2>Update info for <%=item.name%></h2>
        <form method="put" action="/artists/<%=item._id%>">
            <label>Artist name:
                <input name="item[name]" type="text" required
                    placeholder="<%=item.name%>" />
            </label>
        <button>Update</button>
        </form>
    </div>
  </body>

</html>