<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

    <head>
        <title>BrandCramp: <%=item.name%></title>
    </head>

    <body>

        <div id="Navigation">
            <p><a href="/">All the Musics</a> | <a href="/artists/">All Recording Artists</a> | <a href="/albums/">All Albums</a>
        </div>

        <div itemscope="http://schema.org/MusicRecording">
            <h1 itemprop="name"><%=item.name%></h1>
    
            <p itemprop="byArtist" itemscope itemtype="http://www.schema.org/MusicGroup">Artist:
                <a href="/artists/<%=item.byArtist%>" rel="artist" itemprop="URL">
                    <span itemprop="name"><%=item.artistName%></span>
                </a>
            </p>            
    
            <p itemprop="inAlbum" itemscope itemtype="http://www.schema.org/MusicAlbum">Album:
                <a href="/albums/<%=item.inAlbum%>" rel="album" itemprop="URL">    
                    <span itemprop="name"><%=item.albumName%></span>
                </a>
            </p> 
    
            <% if (item.datePublished !== undefined) { %>
                <p>Date published: 
                    <span itemprop="datePublished"><%=item.datePublished%></span>
                </p>
            <% } %>           
    
            <% if (item.genres !== undefined) { %>
                <p>Genres:
                    <% if (item.genres instanceof Array) { %>
                        <% var numGenres = item.genres.length; %>
                        <% for (var i=0; i<numGenres; i++) { %>
                            <% if (i < (numGenres - 1)) { %>
                                <span class="genre" itemprop="genre"><%=item.genres[i]%></span>, 
                            <% } else { %>
                                <span class="genre" itemprop="genre"><%=item.genres[i]%></span>
                            <% } %>
                        <% } %>
                        <br />
                    <% } else { %>
                        <span class="genre" itemprop="genre"><%=item.genres%></span><br />
                    <% } %>
                </p>
            <% } %>
    
            <% if (item.tempos !== undefined) { %>
                <p>Tempo:
                    <% if (item.tempos instanceof Array) { %>
                        <% var numTempos = item.tempos.length; %>
                        <% for (var i=0; i<numTempos; i++) { %>
                            <% if (i < (numTempos - 1)) { %>
                                <span class="tempo" itemprop="musicRecording/tempo"><%=item.tempos[i]%></span>, 
                            <% } else { %>
                                <span class="tempo" itemprop="musicRecording/tempo"><%=item.tempos[i]%></span>
                            <% } %>
                        <% } %>
                        <br />
                    <% } else { %>
                        <span class="tempo" itemprop="musicRecording/tempo"><%=item.tempos%></span><br />
                    <% } %>
                </p>
            <% } %>
    
            <% if (item.keys !== undefined) { %>
                <p>Key:
                    <% if (item.keys instanceof Array) { %>
                        <% var numKeys = item.keys.length; %>
                        <% for (var i=0; i<numKeys; i++) { %>
                            